body {
	background-color: #f3efea; /*00b7a1;*/
	width: 100%;
	/*5fc7c3;*/	
}

#index {
	text-align: center;
}

#header {
}

#header .logo {
	width: 100px;
	height: 100px;
}

#header .container {
	height: 100px;
	text-align: center;
}

#header .container h3 {
	font-size:   38px;
	line-height: 40px;
	display:     inline;
}

#header .container a {
	text-decoration: none;
}

#header .container a:hover {
	color: #0095a1;
	background-color: #f3efea; /*00b7a1;*/
}

#header .container a:visited {
	background-color: #f3efea; /*00b7a1;*/
}

.navbar-header {
	height: 100px;
}

.navbar-header .navbar-brand {
	padding: 0px;
	color: #66bfc7;
}

.navbar-header .navbar-brand h1 {
	font-size: 30px;
	padding-top: 10px;
	height: 100px;
	display: block;
	float: right;
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-header .navbar-brand .title-line {
	display: block;
	margin-bottom: 10px;
}

.navbar .container .navbar-collapse .navbar-nav {
	margin-top: 0px;
	margin-right: 50px;
}

.navbar .container .navbar-collapse #nav-main {
	margin-left: 100px;
}

.navbar .container .navbar-collapse .navbar-nav li a {
	margin: 0px;
	line-height: 50px;
	margin-top: 50px;
	padding-bottom: 0px;
	padding-top: 0px;
	color: #66bfc7;
}

#header {
	border: none;
	height: 100px;
	width:100%;
	/*background-color: #007e74*/
	background-color: #ffffff;
	margin-bottom: 15px;
	box-shadow: 0px 8px 8px #d8d5d0; /*007e74;*/
}

.navbar li a:hover{
	color: #0095a1;
}

.navbar .navbar-nav li a:hover{
	color: #0095a1;
}

.navbar .navbar-nav li a:visited{
	background-color: #f3efea; /*00b7a1;*/
}

/*@media (min-width: 768px) {
	.container > .navbar-header {
		float: none;
	}
}

@media (min-width: 768px) {
	 #header .navbar-header-image {
		width: 100px;
		height: 100px;
		border-radius: 5px 5px 5px 5px;
	}
}*/

.content-wrapper {
	margin-left: 0;
	margin-top: 175px;
}

#video-main {
	margin-top: 125px;
}

.panel {
	min-width: 100%;
	height: 98%;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: -150%;
	position: absolute;
	background: #000;
	box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.6);
	z-index: 2;
	-webkit-transition: all 1s  ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.panel:target {
	margin-top: 0%;
	background-color: #ffcc00;
}

.content {
	padding-top: 150px;
	left: 280px;
	position: absolute;
}

.content h2 {
	font-size: 40px;
	padding: 10px 0px 20px 0px;
	margin-top: 20px;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.content p {
	font-size: 18px;
	padding: 10px;
	line-height: 24px;
	color: #fff;
	display: inline-block;
	background: black;
	padding: 10px;
	margin: 3px 0px;	
}

#project:target ~ #header #link-project, 
#assembly:target ~ #header #link-assembly,
#blog:target ~ #header #link-blog,
#partners:target ~ #header #link-partners,
#contact:target ~ #header #link-contact {
	background-color: #f3efea; /*00b7a1;*/
}

#link-project:target, 
#link-assembly:target,
#link-blog:target,
#link-partners:target,
#link-contact:target {
	background-color: #f3efea; /*00b7a1;*/
}

button {
}


